<admin-navigation-bar>`</admin-navigation-bar>
<form [formGroup]="addcourseForm"(ngSubmit)="onSubmit()" #addcourse="ngForm">
  <div class="con">
    <div class="container-fluid">   
      <div class="col-6">          
        <input type="text" id="courseName" class="inp1" formControlName="courseName" [(ngModel)]="course.courseName" name="CName" placeholder="Enter the course Name" ><br><br><br>
        <input type="text" id="courseDuration" class="inp2" formControlName="courseDuration" [(ngModel)]="course.courseDuration" name="CDuration" aria-describedby="passwordHelpBlock" placeholder="Enter the course Duration" ><br><br><br>
        <input type="text" id="courseTiming" class="inp3" formControlName="courseTiming" [(ngModel)]="course.courseTiming"
         aria-describedby="passwordHelpBlock" name="CTiming" placeholder="Enter the course Timing" ><br><br><br>
      </div>
      <div class="col-7">
        <input type="text" id="courseEnrolled" formControlName="enrolledStudents" [(ngModel)]="course.enrolledStudents"
          class="inp4" aria-describedby="passwordHelpBlock" name="CEnrolled" placeholder="Enter no of enrolled for the course" ><br><br><br>
        <textarea name="courseenrolled" formControlName="courseDescription" [(ngModel)]="course.courseDescription" 
         class="inp5" id="courseEnrolled" cols="60" rows="5" name="CDescription" placeholder="Enter the course Description"></textarea><br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-success button1" type="submit" >Addcourse</button>
      </div>        
    </div>
  </div>
</form>