.inp1,.inp2,.inp3,.inp4{
    border-radius: 20px;
    font-size: 20px;
    height: 70px;
    width: 430px;
    text-align:center;
}
.inp5{
    border-radius: 20px;
    font-size: 20px;
    height: 100px;
    width: 430px;
    text-align:center;

}
.container-fluid{
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 100px;
    border: 1px solid;
    border-radius:20px;
    background-color: rgb(196, 197, 204);
    padding: 30px;
}
.con{
    padding-top:80px;
    padding-left: 150px;
    padding-right: 150px;
}
.btn{
    border-radius: 20px;
    font-size: 20px;
    float:center;
    background-color:blue;
}