<div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="searchTerm"
            placeholder="Search"
          />
          <div class="input-group-append">
            <button class="btn btn-outline-primary" type="button">Search</button>
          </div>
        </div>
      </div>
    </div>
    <table class="table table-light">
      <thead
        *ngIf="
          (
            students
            | search : searchTerm : ['name', 'enrolledCourse', 'mobileNo']
          ).length > 0
        "
        class="table-primary"
      >
        <tr>
          <th>Student ID</th>
          <th>Name</th>
          <th>Enrolled Course</th>
          <th>Mobile No</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let student of students
              | search : searchTerm : ['name', 'enrolledCourse', 'mobileNo'];
            let i = index
          "
          id="studentgrid{{ i + 1 }}"
        >
          <td>{{ student.studentId }}</td>
          <td>{{ student.firstName }}</td>
          <td>{{ student.courseName }}</td>
          <td>{{ student.mobile }}</td>
          <td>
            <i class="fas fa-edit edit-icon me-4 ms-2 text-primary" (click)="editStudent(student.studentId)"></i>
            <i class="fas fa-trash delete-icon text-danger" (click)="deleteStudent(student.studentId)"></i>
          </td>
        </tr>
        <p
          *ngIf="
            (
              students
              | search : searchTerm : ['name', 'enrolledCourse', 'mobileNo']
            ).length === 0
          "
        >
          No students found.
        </p>
      </tbody>
    </table>
    <button class="btn btn-success float-end" (click)="addStudent()">
      Add Student
    </button>
  </div>
  