<div id="searchCourse">
    <i class="fa fa-search" aria-hidden="true"></i>
    <input type="text" class='se' placeholder="Type here to search course" [(ngModel)]="searchCourse">
  </div> <br><br>
  <div class="course-container">
    <ng-container *ngFor="let course of courses">
      <div class="course-item">
        <div *ngIf="searchCourse === '' || course.name.toLowerCase().includes(searchCourse)">
          <div class="cr">
            <div class="courseName">{{ course.name }}</div>
            <div class="courseDuration">Duration of the Course : {{ course.duration }}</div>
            <div class="courseTime">Course availabe Timing : {{ course.time }}</div>
            <div class="courseStudents">Number of Students : {{ course.students }}</div>
            <div class="courseDescription">{{ course.description }}</div>
            <div class="button">
              <button class="btn btn-enrol">Enroll course</button>
              <button class="material-icons editm" routerLink="/edit">&#xf040;</button>
              <button class="material-icons delm">&#xe872;</button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <button  class="addm" routerLink="/add">Add course</button>
  </div>