* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 8vh;
  background-color: #191e24f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Segoe UI', sans-serif;
  padding: 1vw 10vw;
  box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.548);
}

.logo {
  letter-spacing: 1px;
  font-family: "Droid Serif Regular", serif;
  color: #f9d476;
  margin: 0;
  font-size: 1.5rem;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 67%;
  gap: 5vw;
}

.centered {
  text-align: center;
}

.rightmost {
  margin-left: auto;
}

.nav-links li{
  list-style: none;
}

.links {
  font-size: 1.1rem;
  cursor: pointer;
  padding: 17px 10px;
  transition: 0.3s;
  text-decoration: none;
  color: white;
}

.links:hover {
  color: #f1c40f;
  border-bottom: 4px #f1c40f solid;
  transition: 0.3s;
}

#logout {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.5px;  
  cursor: pointer;
  color: white;
  text-decoration: none;
}
  
#logout:hover{
  color: #f9d476;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
      width: 67%;
  }
}

@media screen and (max-width: 768px) {
  body {
      overflow-x: hidden;
  }
  
  .nav-links {
    position: fixed;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #191e24f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    justify-content: flex-start; 
    padding-top: 50px;
  }
  
  .nav-links li {
      opacity: 1; 
      animation: navLinkFade 0.5s ease forwards; 
      width: 100%;
      text-align: center; 
      margin-bottom: 20px;
    }

  .links:hover {
    color: #f9d476;
    border-bottom: none;
    transition: 0;
  }
  
  .burger {
      display: block;
      cursor: pointer;
  }
}


.nav-active {
      transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
      opacity: 0;
      transform: translateX(50px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
