<!-- main container -->
<div
  class="container d-flex justify-content-center align-items-center min-vh-100"
>
  <!-- login container -->
  <div class="row border rounded-5 p-3 bg-white shadow box-area">
    <!-- left box -->
    <div
      class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box"
      style="background: #000000"
    >
      <div class="featured-image mt-3 mb-3">
        <img
          src="../../../assets/emblem.png"
          class="img-fluid"
          style="width: 250px"
        />
      </div>
      <p
        class="fs-2"
        style="
          color: rgb(255, 215, 113);
          font-family: 'Times New Roman', Times, serif;
        "
      >
        IAS Academy
      </p>
      <small
        class="text-wrap text-center"
        style="
          width: 17rem;
          color: rgb(255, 219, 129);
          font-family: 'Times New Roman', Times, serif;
        "
        >Let's get excel in pursuing our passion</small
      >
    </div>
    <!-- right box -->
    <div class="col-md-6 right-box">
      <div class="row align-items-center">
        <div class="header-text mb-4"></div>
        <h1 class="fs-2">Hello Again</h1>
        <p>We are happy to have you back..</p>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="isUserPresent()">
        <div class="form-group mb-3">
          <input
            type="email"
            class="form-control form-control-lg bg-light fs-6"
            placeholder="Email address"
            id="email"
            formControlName="email"
            [ngClass]="{
              'is-invalid':
                loginForm.controls['email'].errors &&
                loginForm.controls['email'].dirty &&
                  loginForm.controls['email'].touched
            }"
          />
          <div
            *ngIf="
              loginForm.controls['email'].dirty &&
              loginForm.controls['email'].touched &&
              loginForm.controls['email'].errors
            "
          >
            <div
              *ngIf="
                loginForm.controls['email'].dirty &&
                loginForm.controls['email'].touched &&
                loginForm.hasError('required', 'email')
              "
              class="text-danger"
            >
              email is required
            </div>
            <div
              *ngIf="
                loginForm.controls['email'].dirty &&
                loginForm.controls['email'].touched &&
                loginForm.hasError('email', 'email')
              "
              class="text-danger"
            >
              email format is not valid
            </div>
          </div>
        </div>
        <div class="form-group mb-3">
          <input
            type="password"
            class="form-control form-control-lg bg-light fs-6"
            placeholder="Password"
            id="password"
            formControlName="password"
            [ngClass]="{
              'is-invalid':
                loginForm.controls['password'].errors &&
                loginForm.controls['password'].dirty &&
                  loginForm.controls['password'].touched
            }"
          />
          <div
            *ngIf="
              loginForm.controls['password'].dirty &&
              loginForm.controls['password'].touched &&
              loginForm.controls['password'].errors
            "
          >
            <div
              *ngIf="
                loginForm.controls['password'].dirty &&
                loginForm.controls['password'].touched &&
                loginForm.hasError('required', 'password')
              "
              class="text-danger"
            >
              password is required
            </div>
            <div
              *ngIf="
                loginForm.controls['password'].dirty &&
                loginForm.controls['password'].touched &&
                loginForm.hasError('minlength', 'password')
              "
              class="text-danger"
            >
              min lenght should be 8 charecters
            </div>
          </div>
        </div>
        <div class="form-group mb-3">
          <button
            class="btn btn-lg btn-primary w-100 fs-6"
            id="loginButton"
            type="submit"
            [disabled]="loginForm.invalid"
          >
            Login
          </button>
        </div>
        <div class="row">
          <small
            >New User/Admin?
            <a routerLink="/signup" id="signupLink">Sign Up</a></small
          >
        </div>
      </form>
    </div>
  </div>
</div>
