<div class="flex h-screen justify-center">
    <form (ngSubmit)="submit()" #myForm="ngForm" class="p-2 rounded-lg m-auto w-1/3 border-4 ">
        <h1 class="first"><b>EDIT ACADEMY</b></h1>
        <div class="my-5 w-full">
            <label for="text">Academy Name</label>
            <input type="text"  id="text" class="placeholder-gray-500 p-2 rounded w-full border bg-gray-200 font-sans"
             placeholder="Enter Academy name" [(ngModel)]="form.text" name="text" #text="ngModel" required minlength="4" appForbiddenName="bob">
           </div>
           <div *ngIf="text.invalid && (text.dirty||text.touched)" [hidden]="text.valid" class ="p-4 bg-red-300 text-red-800 rounded">
            Name field must be valid
            <div *ngIf="text.errors?.['required']">
              Name is required.
            </div>
            <div *ngIf="text.errors?.['minlength']">
              Name must be at least 4 characters long.
            </div>
            <div *ngIf="text.errors?.['forbiddenName']">
              Name cannot be Bob.
            </div>

        </div>
           
         <div class=" my-5 w-full">
             <label for="tel">Contact Number</label>
             <input type="tel" id="tel" class="placeholder-gray-500 p-2 rounded w-full border bg-gray-200 font-sans"
             placeholder="Enter the contact number" required minlength="10" [(ngModel)]="form.tel" name="tel" #tel="ngModel" required>
        </div>
        <div *ngIf="tel.invalid && (tel.dirty||tel.touched)" [hidden]="tel.valid" class ="p-4 bg-red-300 text-red-800 rounded">
          contact number field must be valid

          <div *ngIf="tel.errors?.['required']">
            Phone number is required.
          </div>
          <div *ngIf="tel.errors?.['minlength']">
            number is invalid.
          </div>
      </div>
        
        <div class=" my-5 w-full">
            <label for="url">Image url</label>
            <input type="url" id="url" class="placeholder-gray-500 p-2 rounded w-full border bg-gray-200 font-sans"
             placeholder="Enter the academy Image url" [(ngModel)]="form.url" name="url" #url="ngModel" required>
           </div>
           
           <div *ngIf="url.invalid && (url.dirty||url.touched)" [hidden]="url.valid" class ="p-4 bg-red-300 text-red-800 rounded">
            url field must be valid
        </div>

           <div class=" my-5 w-full">
            <label for="email">Academy Email</label>
            <input type="email" id="email" class="placeholder-gray-500 p-2 rounded w-full border bg-gray-200 font-sans"
             placeholder="Enter the academy email" [(ngModel)]="form.email" name="email" #email="ngModel" required>
           </div>
           
           <div *ngIf="email.invalid && (email.dirty||email.touched)" [hidden]="email.valid" class ="p-4 bg-red-300 text-red-800 rounded">
            Email field must be valid
        </div>

           <div class="  my-5 w-full">
            <label for="location">Academy Location</label>
            <input type="location" id="location" class="placeholder-gray-500 p-2 rounded w-full border bg-gray-200 font-sans"
             placeholder="Enter the academy Location" [(ngModel)]="form.location" name="location" #location="ngModel" required>
           </div>

           <div *ngIf="location.invalid && (location.dirty||location.touched)" [hidden]="location.valid" class ="p-4 bg-red-300 text-red-800 rounded">
            Location field must be valid
        </div>

          <div class="  my-5 w-full">
            <label for="textarea">Academy Description</label>
            <textarea id="textarea" class="placeholder-gray-500 p-2 rounded w-full border bg-gray-200 font-sans"
            placeholder="Enter the academy Description" [(ngModel)]="form.textarea" name="textarea" #textarea="ngModel" required >
          </textarea>
          </div>
          <div *ngIf="textarea.invalid && (textarea.dirty||textarea.touched)" [hidden]="textarea.valid" class ="p-4 bg-red-300 text-red-800 rounded">
            Description field must be valid
        </div>
          <div class="my-5 w-">
            <button type="submit" 
            [disabled]="myForm.form.invalid"
            class="p-2 w-full bg-green-700 text-white hover:bg-purple-900 rounded">
                Update Academy
            </button>
          </div>
    </form>
</div>
