.rating {
    color: gold;
  }
  .card-icons {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
  }
  
  .edit-icon,
  .delete-icon {
    margin-left: 5px;
    cursor: pointer;
  }
  .btn-add {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
  .card {
    position: relative;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  .card-img-top {
    height: 150px; 
    object-fit: contain; 
  }
  