<!DOCTYPE html>
<user-navigation-bar></user-navigation-bar>
<html>
<body>
  <div class="coursepage">
  <div class="search-container" >
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search..." >
    <button type="submit" (click)="search()">Search</button>
  </div>
    <ul>
      <li *ngFor="let use of filtereddata">
        <a class="acd">
          <img height=200px width=300px src={{use.imageUrl}} >
          <p class="coursename"><b>{{use.instituteName}}</b></p>
          <p class="courseaddress">Place :{{use.instituteAddress}}</p>
        </a>
      </li>
    </ul>
  </div>
</body>
</html>