
<form (ngSubmit)="formSubmit()" [formGroup]="userForm" class="form_container">
  <div class="container">
    <h1>Register</h1>

    <label for="role"><b>Select Role</b></label>
    <select [(ngModel)]="user.userRole" formControlName="admin_user" id="admin/user">
      <option value="" selected disabled>Enter Admin/User</option>
      <option value="admin">Admin</option>
      <option value="user">User</option>
    </select>
    <span *ngIf="userForm.get('admin_user')?.invalid && userForm.get('admin_user')?.touched" style="color: red;">Role is required.</span>


    <label for="email"><b>Email</b></label>
    <input
      type="email"
      id="email"
      [(ngModel)]="user.email"
      formControlName="email"
      placeholder="Enter Email"
      required
    />
    <span *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched" style="color: red;">Email is required and must be a valid email address.</span>
   

    <label for="username"><b>Username</b></label>
    <input
      type="text"
      id="username"
      [(ngModel)]="user.username"
      formControlName="username"
      placeholder="Enter username"
      required
    />
    <span *ngIf="userForm.get('username')?.invalid && userForm.get('username')?.touched" style="color: red;">Username is required.</span>

    <label for="mobileNumber"><b>Mobile Number</b></label>
    <input
      type="tel"
      id="mobileNumber
      [(ngModel)]="user.mobileNumber"
      formControlName="mobileNumber"
      placeholder="Enter Mobile Number"
      required
    />
    <span *ngIf="userForm.get('mobileNumber')?.invalid && userForm.get('mobileNumber')?.touched" style="color: red;">Mobile Number is required and should be 10 digits.</span>
    

    <label for="pwd"><b>Password</b></label>
    <input
      type="password"
      id="password
      [(ngModel)]="user.password"
      formControlName="password"
      placeholder="Enter Password"
      required
    />
    <span *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched" style="color: red;">Password is required and should be atleast 8 characters.</span>
  

    <label for="confirmPassword"><b>Confirm Password</b></label>
    <input
      type="password"
      id="confirmPassword"
      [(ngModel)]="user.confirmPassword"
      formControlName="confirmPassword"
      placeholder="Confirm Password"
      required
    />
    <span *ngIf="userForm.get('confirmPassword')?.invalid && userForm.get('confirmPassword')?.touched" style="color: red;">Confirm Password is required.</span>
    <span *ngIf="userForm.get('confirmPassword')?.value !== userForm.get('password')?.value && userForm.get('confirmPassword')?.touched"  style="color: red;">Passwords mismatch. Both passwords must be the same.</span>
   

    <button type="submit" id="submitButton" [disabled]="userForm.invalid">Register</button>
  </div>

  <div>
    <p>Already have an account? <a routerLink="/login">Log in</a>.</p>
  </div>
</form>
