.course{
    border-radius:1.5625rem;
    border:0.2188rem solid black;
    padding:1.25rem;
    padding-bottom:1.875rem;
    width:21.875rem;
    background-color:rgb(203, 203, 203);
}
.container{
    height:50rem;
    width:85.625rem;
    padding-top: 20px;  
}
.col{
    display:grid;
    grid-template-columns:auto auto auto ;
    width: 85.625rem;
    grid-gap:4rem 6rem;
    justify-content:center;
    align-self: center;   
    padding: 3.125rem; 
}
.btn{
    float:right;
    border-radius:0.3125rem;
    background-color:red;
    color: white;
    padding: 0.3125rem 0.625rem ;
}
.btn:hover{
    background-color:green;
}